<form name="node" method="post">
    <div id="node">
        <div class="form-group">
            <label for="value" class="required">Value</label>
            <input type="number" id="value" name="value">
        </div>

        <input type="hidden" id="node__token" name="node[_token]" value="rXLkbzyWvdIGSl1CwzwayIfPpweT4BIGH3fCMm668j8">
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</form>

